<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Juan Obando | Radio Dev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>📻 Dashboard de Transmisión</h1>
        <div class="playlist-card" id="playlist-content">
            <p style="padding: 20px;">Iniciando conexión con el servidor...</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>