<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Admin Login | Radio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="card">
        <h1>⚙️ Admin Radio</h1>
        <input type="password" id="password" placeholder="Contraseña" onkeydown="if(event.key==='Enter') login()">
        <button onclick="login()">Entrar</button>
        <div class="error" id="error"></div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>